{% extends 'layout-etiquetas-notas.html.twig' %}

{% block body %}

    {{ parent() }}

    <div id="detalle_nota" class="marco detalle_nota">
        <h2>Detalle de nota</h2>
        <h2>Formulario editar Nota {{ nota_a_editar.id}}</h2>
        <form
            action="{{ path('editar', {id: nota_a_editar.id}) }}"
            method="POST">
            <input type="text" id="titulo" name="titulo"
                   value="{{ nota_a_editar.titulo }}" />
            <input type="submit" value="guardar" />
        </form>
    </div>

{% endblock %}
